<!DOCTYPE html>
<html lang="en">
<head>
  <title>Result</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Result</h1>
      <h2>Would you like to get pdf?</h2>
      <a href='http://127.0.0.1:5000/hello'><button>Make PDF</button></a>
      <a href='http://127.0.0.1:5000/'><button>Retry</button></a>
    </div>
  <div class="text-center">
  <img src="../child/resultPNG.png" class="border" class="img-fluid img-thumbnail" alt="Image">
  </div>
</body>
</html>





